<%- include('partials/header_02.ejs') -%>
<a href="/">Vissza a főoldalra</a>
<div class="egyedi-container">
    <h1><%= dudu[0].marka %></h1>
    <h2>Típus: <%= dudu[0].tipus %></h2>
    <h3>Ár: <span><%= dudu[0].ar.toLocaleString("de-DE") %></span> Ft</h3>
    <img
        src="../images/<%= dudu[0].kep %>"
        alt="<%= dudu[0].kep %>"
        title="<%= dudu[0].tipus %>"
    />
    <div class="gombok">
        <a href="/modosit/<%= dudu[0].id %>">Módosít</a>
        <a href="/torol/<%= dudu[0].id %>">Töröl</a>
    </div>
</div>
<%- include('partials/footer.ejs') -%>
